#header {
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    flex-direction: column;
    justify-content: center; 
    background-color: blueviolet;
    color: cornsilk;
}