.form-group {
    padding-top: 15px;
    padding-left: 40%;
    padding-right: 40%;
    padding-bottom: 25px;
    text-align: center;
}

::placeholder {
    text-align: center;  
}

form {
    padding-top: 0px;
    padding-bottom: 10px;
    background-color:rgb(15, 94, 115);
}

.form-control {
    border-color: #f9af32;
    border-width: 3px;
}