.form-group {
    padding-top: 15px;
    padding-left: 40%;
    padding-right: 40%;
    padding-bottom: 25px;
    text-align: center;
}

::placeholder {
    text-align: center;  
}

form {
    padding-top: 20px;
}

.form-control {
    border-color:rgb(15, 94, 115);
    border-width: 3px;
}